.global-modifier,
.modifier {
    .Ubuntu(bold, smaller);
    .roundedcard();
    border-color: @ink-colour;
}

.action.modifier {
    .Ubuntu(bold, smaller);
    .roundedcard();
    border-color: @ink-colour;
    display: grid;
    grid-template-columns: auto 1fr auto;

    .actionimage {
        width: 24px;
        margin-right: 2px;
        border: none;
    }

    .actiondata {
        width: 48px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto;

        .actionrate {
            color: @ink-colour;
            font-weight: bold;
        }
        .actionreq {
            color: @failure-ink;
        }

        .actionvalue {
            text-align: right;
        }
    }
}

.attackmod {
    border-color: @attackmod-colour;
}

.damagemod {
    border-color: @damagemod-colour;
}

.attackdamagemod {
    border-color: @attackdamagemod-colour;
}

.global-modifier,
.genmod {
    background-color: fade(@ink-border, 22%);
}

.specmod {
    background-color: fade(@ink-faded, 18%);
}

.inEffect {
    background-color: fade(@ink-colour, 22%);
}
